body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.video-background {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

.nameCompany {
  position: absolute;
  top: 67%;
  left: 12%;
  transform: translateY(-50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;

  color: white;
  font-size: 32px;
  font-family: "league gothic", sans-serif;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .nameCompany {
    top: 73%;
    left: 11%;
  }
}

@media (max-width: 320px) {
  .nameCompany {
    top: 75%;
    left: 11%;
  }
}

@media (min-width: 1440px) {
  .nameCompany {
    top: 75%;
    left: 11%;
  }
}

.nav {
  position: relative;
  z-index: 10;
  margin: 10px 20px 0;

  a {
    color: white;
    font-size: 24px;
    font-family: "league gothic", sans-serif;
    text-transform: uppercase;
    margin-top: 5px;
  }

  a:hover {
    color: black;
  }
}

.nav .nav-link.active {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  color: white;
  border-radius: 100px;
}

.item-logo {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.item-logo img {
  filter: invert(100%);
}

.carousel {
  height: 100vh;
  margin-top: -67px;
  width: 100vw;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

@media (max-width: 324px) {
  .carousel {
    margin-top: -124px;
  }
}

.carousel .list .item {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
}
.carousel .list .item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail {
  position: absolute;
  bottom: 100px;
  left: 61%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}
.thumbnail .item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}
.thumbnail .item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.arrows {
  position: absolute;
  top: 78%;
  left: 10%;
  z-index: 20;
  display: flex;
  gap: 10px;
  align-items: center;
}

.arrows button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee4;
  border: none;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  transition: 0.5s;
  z-index: 20;
}

.arrows button:hover {
  background-color: #fff;
  color: #000;
}

@media (max-width: 768px) {
  .arrows {
    top: 82%;
    left: 10%;
  }

  .arrows button {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 480px) {
  .arrows {
    top: 82%;
    left: 10%;
  }

  .arrows button {
    width: 25px;
    height: 25px;
  }
}

@media (min-width: 1440px) {
  .arrows {
    top: 85%;
    left: 10%;
  }
}

.carousel .list .item:nth-child(1) {
  z-index: 1;
}

.carousel.next .list .item:nth-child(1) video {
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 100px;
  left: 61%;
  border-radius: 30px;
  animation: showVideo 0.5s linear 1 forwards;
}

@keyframes showVideo {
  to {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.carousel.next .thumbnail .item:nth-last-child(1) {
  overflow: hidden;
  animation: showThumbnail 0.5s linear 1 forwards;
}
.carousel.prev .list .item video {
  z-index: 100;
}
@keyframes showThumbnail {
  from {
    width: 0;
    opacity: 0;
  }
}
.carousel.next .thumbnail {
  animation: effectNext 0.5s linear 1 forwards;
}

@keyframes effectNext {
  from {
    transform: translateX(150px);
  }
}

.carousel.prev .list .item:nth-child(2) {
  z-index: 2;
}

.carousel.prev .list .item:nth-child(2) video {
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}
@keyframes outFrame {
  to {
    width: 150px;
    height: 220px;
    bottom: 100px;
    left: 61%;
    border-radius: 20px;
  }
}

.carousel.prev .thumbnail .item:nth-child(1) {
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail 0.5s linear 1 forwards;
}

.carousel.next .arrows button,
.carousel.prev .arrows button {
  pointer-events: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 5px;
  background: bisque;
  display: flex;
  justify-content: space-around;
  opacity: 0.5;
  z-index: 10;

  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}

footer img {
  width: 20px;
}

footer a {
  color: black;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
}

.container {
  max-width: 400px;
  color: white;
  margin-right: 3%;

  button {
    background: white;
    color: black;
    border: none;
    width: 100%;
  }
}

.mt-5 {
  margin-top: 5rem !important;
}

@media (min-width: 1441px) {
  .container {
    margin-right: 4%;
    max-width: 500px;
    padding: 20px;
  }

  .mt-5 {
    margin-top: 12rem !important;
  }

  .form-group {
    margin-bottom: 20px;
  }

  textarea#message {
    height: 200px;
  }
}

@media (min-width: 1900px) {
  .mt-5 {
    margin-top: 12rem !important;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
  padding: 20px;
  position: relative;
  z-index: 10;
  max-width: 90%;
  margin: auto;
  top: 10%;
}

.card {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  padding: 10px;
}

.card video {
  width: 100%;
  border-radius: 10px;
}

.card p {
  margin: 10px 0 0;
  font-family: "league gothic", sans-serif;
}

.card a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.card a:hover {
  color: black;
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 320px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1441px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    top: 5%;
  }
}
