body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.video-background {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover; 
  z-index: -1; 
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.menu {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  z-index: 10;
  width: min-content;
  display: flex;
  flex-direction: column;
}

.menu ul{
  padding: 0;
}

.menu a { 
  display: block;
  font-family: 'league gothic', sans-serif;
  font-size: 5vmin;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: .5rem 0;
  transform: scale(.95);
  opacity: .25;
  transition: scale 550ms linear, opacity250ms linear;
}

.menu a:first-of-type {
  transform: scale(1);
  opacity: 1;
}

.menu:hover a:not(:hover) {
  transform: scale(.95);
  opacity: .25;
}

.menu a:hover {
  transform: scale(1);
  opacity: 1;
}

.carousel{
  height: 100vh;
  margin-bottom: -50px;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.carousel .list .item{
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
}
.carousel .list .item video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail{
  position: absolute;
  bottom: 100px;
  left: 61%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}
.thumbnail .item{
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}
.thumbnail .item video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.arrows{
  display: flex;
  gap: 10px;  
}

.arrows button{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #eee4;
  border: none;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  transition: .5s;
}
.arrows button:hover{
  background-color: #fff;
  color: #000;
}

.carousel .list .item:nth-child(1){
  z-index: 1;
}

.carousel.next .list .item:nth-child(1) video{
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 100px;
  left: 61%;
  border-radius: 30px;
  animation: showVideo .5s linear 1 forwards;
}

@keyframes showVideo{
  to{
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0;
  }
}

.carousel.next .thumbnail .item:nth-last-child(1){
  overflow: hidden;
  animation: showThumbnail .5s linear 1 forwards;
}
.carousel.prev .list .item video{
  z-index: 100;
}
@keyframes showThumbnail{
  from{
      width: 0;
      opacity: 0;
  }
}
.carousel.next .thumbnail{
  animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
  from{
      transform: translateX(150px);
  }
}

.carousel.prev .list .item:nth-child(2){
  z-index: 2;
}

.carousel.prev .list .item:nth-child(2) video{
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}
@keyframes outFrame{
  to{
      width: 150px;
      height: 220px;
      bottom: 100px;
      left: 61%;
      border-radius: 20px;
  }
}

.carousel.prev .thumbnail .item:nth-child(1){
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail .5s linear 1 forwards;
}

.carousel.next .arrows button,
.carousel.prev .arrows button{
  pointer-events: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 5px;
  background: bisque;
  display: flex;
  justify-content: space-around;
  opacity: 0.3;
  z-index: 1;
}

footer img {
  width: 20px;
}

footer a {
  color: #7d7987;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
}